
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/
.history/

.idea/

build/
publish/

*.db
*.db-journal

*.nupkg
packages/

ScaffoldingReadMe.txt

*.local.settings.json
appsettings.Secret*.json

*.log

*.mdf
*.ldf
*.sqlite
*.db

.DS_Store
Thumbs.db
